.genres {
    display: flex;
    gap: 5px;
    .genre {
        padding: 3px 5px;
        white-space: nowrap;
        .btn{
            background-color: var(--red);
            color: white;
            border: none;
        border-radius: 10px;
        font-size: 13px;
    width: 60px;
    height:23px;}
    }
}
